/*Limpar as formatações padrão*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(85, 139, 238);

}
/*
**** Layout ****
*/
#area-cabeçalho{
    background-color: rgb(60, 186, 190);
    padding: 15px;
    text-align: center;
    border: 1px solid white;
}
#area-logo, #area-menu{
    padding: 10px;
}
area-principal{
    width: 920px;
    margin: 0 auto;
}

#postagens, #area-lateral {
    background: darkgray;
    float: left;
}

#postagens{
    width: 660px;
    float: right;
}
#area-lateral{
    width: 240px;
}

#rodape{
    background: green;
}

/*
**** Formatação menu ****
*/
a{
    text-decoration: none;
}
a:link, a:visited{
  color: white;
  padding: 8px 12px;
}
hover{
    color:rgb(60, 186, 190);
    background: white;
}

/*
**** Formatações em Geral ****
*/
h1{
    color: aliceblue;
    font-size: 2.5em;
}
branco{
    color: white;
}