/*Limpar as formatações padrão*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(214, 217, 221); /*Limpar as formatações padrão*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(230, 232, 236);

}
/*
**** Layout ****
*/
#area-cabeçalho {
    background-color: rgb(21, 6, 231);
    padding: 5em;
    text-align: center;
    border: 1em solid rgb(255, 255, 255);
}
#area-logo, #area-menu {
    padding: 5em;
}
#area-principal {
    width: 460em;
    margin: 0 auto;
    padding: 7em;
}

#postagens {
    width: 330em;
    float: left;
}
#area-lateral {
    width: 120em;
    background: white;
   padding: 5em;
   margin-bottom: 10em;
   float: right;
   /*border-bottom: 1px dotted #ccc;*/
}
.postagem {
    padding: 10em;
    margin: 10em;
    background: white;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 7em;
    background: gray;
}

/*
**** Formatação menu ****
*/
a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(0, 0, 0);
 
  }
a:hover {
  text-decoration: underline;
  }

#area-cabeçalho a:link, #area-cabeçalho a:visited {
  color: rgb(0, 0, 0);
  padding:4em 6em;
}
#area-cabeçalho a:hover {
    color: rgb(0, 0, 0);


    background: rgb(255, 255, 255);
    text-decoration: none;
}

/*
**** Formatações em Geral ****
*/
h1 {
    color: rgb(255, 255, 255);
    font-size: 1.25em;
}
h2 {
    color: blue;
}

h3 {
    color: rgb(0, 0, 0);
    background: rgb(21, 6, 231);
    padding: 2em;
}
branco {
    color: rgb(255, 255, 255);
}
.data-postagem {
   font-size: 0.8em;
   border-bottom: 1em solid rgb(255, 255, 255);
   padding-bottom: 5em;
   margin-bottom: 5em;
   display: block;
  
}
.area-lateral {
    font-size: 0.8em;
    padding: 2em;
}



/*
**** Layout ****
*/
#area-cabeçalho {
    background-color: rgb(21, 6, 231);
    padding: 7em;
    text-align: center;
    border: 1em solid rgb(255, 255, 255);
}
#area-logo, #area-menu {
    padding: 5em;
}
#area-principal {
    width: 460em;
    margin: 0 auto;
    padding: 7em;
}

#postagens {
    width: 640;
    float: left;
}
#area-lateral {
    width: 120em;
    background: white;
   padding: 5em;
   margin-bottom: 10em;
   float: right;
   /*border-bottom: 1px dotted #ccc;*/
}
.postagem {
    padding: 10em;
    margin: 10em;
    background: white;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 7em;
    background: gray;
}

/*
**** Formatação menu ****
*/
a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(193, 22, 236);
 
  }
a:hover {
  text-decoration: underline;
  }

#area-cabeçalho a:link, #area-cabeçalho a:visited {
  color: rgb(255, 255, 255);
  padding: 4em 6em;
}
#area-cabeçalho a:hover {
    color: rgb(255, 255, 255);

    background: rgb(0, 0, 0);
    text-decoration: none;
}

/*
**** Formatações em Geral ****
*/
h1 {
    color: rgb(255, 255, 255);
    font-size: 1.25em;
}
h2 {
    color: rgb(0, 0, 0);
}

h3 {
    color: rgb(0, 0, 0);
    background: rgb(21, 6, 231);
    padding: 2em;
}
branco {
    color: rgb(255, 255, 255);
}
.data-postagem {
   font-size: 0.8em;
   border-bottom: 1em solid rgb(255, 255, 255);
   padding-bottom: 5em;
   margin-bottom: 5em;
   display: block;
  
}
.area-lateral {
    font-size: 0.8em;
    padding: 2em;
}



}
