/*Limpar as formatações padrão*/
$primary:rgb(21, 6, 231);
$secondary: rgb(255, 255, 255);
$tertiary: rgb(230, 232, 236);
$Quaternary: rgb(0, 0, 0);
$quinary: rgb(214, 217, 221);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  body {
    font-size: 1em;
    font-family: "Times New Roman", Times, serif;
    background-color: $quinary;
  }
  
  #area-cabeçalho {
    background-color: $primary;
    padding: 15px;
    text-align: center;
    border: 1px solid $secondary;
  }
  
  #area-cabeçalho a {
    color: $Quaternary;
    padding: 8px 12px;
    text-decoration: none;
  }
  
  #area-cabeçalho a:hover {
    background: $secondary;
  }
  
  #area-principal {
    max-width: 1200px; 
    width: 90%; 
    margin: 0 auto;
    padding: 15px;
  }
  
  #postagens {
    float: left;
    width: 100%; 
  }
  
  #area-lateral {
    width: 100%; 
    background: $secondary;
    padding: 10px;
    margin-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-top: 20px;
  }
  
  .postagem {
    padding: 20px;
    margin: 20px 0;
    background: $secondary;
    margin-right: 20px;
  }
  
  #rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: $quinary;
  }
  
  
  a:hover {
    text-decoration: underline;
  }
  
  
  h1 {
    color: $secondary;
    font-size: 2.5em;
  }
  
  h2 {
    color: $Quaternary;
  }
  
  h3 {
    color: $secondary;
    background: $primary;
    padding: 5px;
  }
  
  
  .data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid $secondary;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
  }
  
  
  @media (min-width: 768px) {
    #postagens {
      width: 70%; 
      float: left;
    }
  
    #area-lateral {
      width: 30%; 
      float: right;
    }
  
    #rodape {
      padding: 15px;
    }
  }
  
  @media (max-width: 767px) {
    #postagens,
    #area-lateral {
      width: 100%; 
      float: none; 
    }
  }